{% extends 'web_app/main_template.html' %}
{% block title %}My Index Page{% endblock %}
{% block content %}



        <h1>Hello world, today is {{ today }}</h1>
        <p>
            {% if today.day == 1 %}
            Today is the first day of the month.
            {% elif today.day == 30 %}
            Today is the last day of the month.
            {% else %}
            Today is the {{ today.day }}th day of the month
            {% endif %}
        </p>

        <p>
         {% for day in days_of_week %}

         {{day}}

         </p>

         {% endfor %}

     <a href="/about/">About Me</a>

{% endblock %}